{% extends 'base.html.twig' %}
{% block body %}
    <div id="form-wrapper" class="h5 m-auto w-50 p-4 border border-secondary border-5 rounded-3">
        <h4 class="text-secondary">Your categories:</h4>
        <ul>
            {% for category in categories %}
                <li class="">{{ category.name }}</li>
            {% endfor %}
        </ul>

        {{ form(form) }}
    </div>
{% endblock %}