

.image {
 float: left;
 width:  400px;
 height: 400px;
 object-fit: cover;

}
.content-wrapper {
 display: flex;
 flex-direction: column;
 height: 500px;
 }

.wrapper{
 flex-wrap: wrap;
 display: flex;
 justify-content: space-around;
}
